@use "sass/color" as *;
@use 'sass/mixin' as *;

@font-face {
	font-family: 'NotoKufiArabic';
	src: url('../font/NotoKufiArabic-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'NotoKufiArabic';
    src: url("../font/NotoKufiArabic-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style:normal;
}

@font-face {
	font-family: 'NotoKufiArabic';
	src: url('../font/NotoKufiArabic-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

* {
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: "NotoKufiArabic", sans-serif;
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.transition {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

// Swiper 
